table {
  width: 100%;
}


tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 40px;
}

tbody {
  height: 420px;
  overflow-y: auto;
}


tbody td,
thead th {
  width: 19.2%;
  float: left;
}

.pagination {
  display: flex;
  justify-content: right;
}

.btn-circle {
  width: "20%";
  height: 35px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}